@font-face {
    font-family: Iransans;
    src: url(../fonts/woff/IRANSansWeb.woff);
}
body{
    font-family:Iransans!important;
}
html {
    overflow:hidden;
}
img.menu-icon {
    width: 18px;
    height: 18px;
}
.k-widget.k-window.k-rtl {
    transform: scale(1) !important;
    top: 15% !important;
    width: 80% !important;
    height: 80% !important;
    position: absolute;
    right: 10%;
}
div#ArticlePopup {
    overflow-x: hidden;
}
.rtl .col-md-1 {
    width: 100%!important;
}