@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="article" style="min-height: 800px">
    <div class="fullwidth-section">
        <div class="row" style="font-size: 16px;font-weight: bold;">
            <div class="col-md-12">
                عنوان مقاله  : @Html.Kendo().TextBox().Name("SearchTitle").Value((string)@ViewData["SearchTitle"]).HtmlAttributes(new { style = "width: 250px;" })
                @(Html.Kendo().Button().Name("SearchButton").HtmlAttributes(new { type = "button" }).Icon("search"))
            </div>
        </div>
</section>
